<div class="main-container">
    <div class="wrapper">
        <div class="sidebar">
            <h2>Info Ugra</h2>
            <ul>
                <li><a href="#"><h5><i class="fas fa-home"></i>Home</h5></a></li>
                <li><a href="#"><h5><i class="fas fa-user"></i>Profile</h5></a></li>
                <li><a href="#"><h5><i class="fas fa-address-card"></i>About</h5></a></li>
                <li><a href="#"><h5><i class="fas fa-address-book"></i>Contact</h5></a></li>
                <li><a href="#" active><h5><i class="fas fa-coins"></i>Bonus</h5></a></li>
            </ul> 
            <div class="social_media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="display">
    
    <table class="content-table">
        <thead>
            <tr>
                <th><h5>Date\Time</h5></th>
                <th><h5>Account Number</h5></th>
                <th><h5>Type payment</h5></th>
                <th><h5>Value</h5></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td><h5>{{ item.date_created | date: 'dd MMMM yyyy, HH:mm'}}</h5></td>
                <td><h5>{{ item.account_number.account_number }}</h5></td>
                <td><h5>{{ item.type_payment }}</h5></td>
                <td><h5>{{ item.value }}</h5></td>
            </tr>
        </tbody>
    </table>
</div>