<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<div class="main-container">
    <div class="wrapper">
        <div class="sidebar">
            <h2 style="font-weight: bold;">Инфо Югра</h2>
            <ul>
                <li><a [routerLink]="['/home']" routerLinkActive="router-link-active"><h5><i class="fas fa-home" style="margin-right: 10px;"></i>Домой</h5></a></li>
                <li><a [routerLink]="['/profile']" routerLinkActive="router-link-active"><h5><i class="fas fa-user" style="margin-right: 10px;"></i>Профиль</h5></a></li>
                <li><a [routerLink]="['/contacts']" routerLinkActive="router-link-active"><h5><i class="fas fa-address-book" style="margin-right: 10px;"></i>Контакты</h5></a></li>
                <li><a [routerLink]="['/bonuses']" routerLinkActive="router-link-active"  active><h5><i class="fas fa-coins" style="margin-right: 10px;"></i>Бонусы</h5></a></li>
                <li><a [routerLink]="['/login']" routerLinkActive="router-link-active"  (click)="logout()"><h5><i class="fas fa-sign-out-alt" style="margin-right: 10px;"></i>Выйти</h5></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="display">
    <div>
        <a><h3>Информация о бонусах</h3></a>
    </div>
    <div class="post-wrap">
        <div class="post-item">
            <div class="post-item-wrap">
                <a class="post-link">
                    <p class="post-content">Ваш текущий баланс бонусов:</p>
                </a>
                <h3 class="post-title">{{ resp.balance }}</h3>		
            </div>
        </div>
        <div class="post-item">
            <div class="post-item-wrap">
                <a class="post-link">
                    <p class="post-content">Общее количество полученных бонусов: </p>
                </a>
                <h3 class="post-title">{{ resp.total_earned }}</h3>			
            </div>
        </div>
        
        <div class="post-item">
            <div class="post-item-wrap">
                <a class="post-link">
                    <p class="post-content">Общее количество потраченных бонусов:</p>
                </a>
                <h3 class="post-title">{{ resp.total_spent }}</h3>		
            </div>
        </div>
    </div>
    <table class="content-table">
        <thead>
            <tr>
                <th><h5>Дата\Время</h5></th>
                <th><h5>Номер лицевого счета</h5></th>
                <th><h5>Тип транзакции</h5></th>
                <th><h5>Сумма</h5></th>
                <th><h5>Доп. Информация</h5></th>
                <th><h5>Open</h5></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data | slice:startIndex:endIndex ; let i = index;">
                <td><h5>{{ item.date_created | date: 'dd MMMM yyyy, HH:mm'}}</h5></td>
                <td><h5>{{ item.account_payment.account_number }}</h5></td>   
                <ng-container *ngIf="item.value < 0; else elseTemplate">
                    <td><h5>Списано</h5></td>
                </ng-container>
                <ng-template #elseTemplate>
                    <td><h5>Начислено</h5></td>
                </ng-template>
                <td><h5>{{ item.value }}</h5></td>
                <div class="poster">
                    <button class="btn-details" (click)="onClickDetails(i)">Детали</button>
                    <div class="descr" id="detailsBlock{{i}}">
                        <th><h5>Поставщик:</h5></th>
                        <th><h5>Услуга:</h5></th>
                        <th><h5>Число оплаченных пени с помощью бонусов:</h5></th>
                        <th><h5>Число бонусов за оплату услуги:</h5></th>
                        <tr *ngFor="let obj of item.account_payment.account_payment_services">
                            <td><h5>{{obj.supplier_name}}</h5></td>
                            <td><h5>{{obj.service_name}}</h5></td>
                            <td><h5>{{obj.fine_sum}}</h5></td>
                            <td><h5>{{obj.main_sum}}</h5></td>
                        </tr>
                    </div>
                </div>
                <td>
                    <button mat-button (click)="openDialog()">Open dialog</button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Page navigation -->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li *ngFor="let pages of getArrayFromNumber(data.length); let i = index;" class="page-item">
                <a class="page-link" (click)="updateIndex(i)">{{ i+1 }}</a>
            </li>
        </ul>
    </nav>
</div>