<div>
  <header>
    <div class="header-min">
        <h1>Personal Cabinet <br /> <br>Info Ugra</h1>
    </div>
    <div class="image"></div>
  </header>
</div>

  <form (ngSubmit)="login(loginForm.value)" [formGroup]="loginForm">
    
    <h1>Login</h1>
    <label for="email"><h2>Email:</h2></label>
    <input type="email" name="email" formControlName="email">
  
    <label for="password"><h2>Password:</h2></label>
    <input type="password" name="password" formControlName="password">
  
    <input type="submit" [disabled]="!loginForm.valid" value="Submit">
  </form> 
  